<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://utigrupolaranja.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>utigrupolaranja.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>utigrupolaranja</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$utigrupolaranja</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MinhaConexao" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:grupolaranja.database.windows.net,1433;Initial Catalog=DB-LARANJA;User ID=grupolaranja;Password=Utifes321!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IGOR-FERREIRA\SQLEXPRESS;Initial Catalog=BD_GRUPO_LARANJA;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MinhaConexao_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=IGOR-FERREIRA\SQLEXPRESS;Initial Catalog=BD_GRUPO_LARANJA;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MinhaConexao-Web.config Connection String">
      <ParameterValue>Data Source=tcp:grupolaranja.database.windows.net,1433;Initial Catalog=DB-LARANJA;User ID=grupolaranja;Password=Utifes321!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MinhaConexao-Web.config Connection String">
      <ParameterValue>Data Source=tcp:grupolaranja.database.windows.net,1433;Initial Catalog=DB-LARANJA;User ID=grupolaranja;Password=Utifes321!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MinhaConexao-Web.config Connection String">
      <ParameterValue>Data Source=tcp:grupolaranja.database.windows.net,1433;Initial Catalog=DB-LARANJA;User ID=grupolaranja;Password=Utifes321!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>